<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Gestion d'ecole</span>
        <span class="site-heading-lower">Apprendre, grandir, réussir ensemble</span>
    </h1>
</header>
<!-- Navigation-->
<section>
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" th:href="@{/home}">Accueil</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" th:href="@{/professeur-list}" >Professeur</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" th:href="@{/matiere-list}">Matiere</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="store.html">Etudiant</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>


<section class="page-section cta">

    <div class="container">
        <h1>Modification des matières</h1>
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <a th:href = "@{/matiere-list}" class="previous">&laquo; La list des matières</a>

                    <form method="post" th:action="@{/matieres/edit/{id}(id=${matiere.matiereId})}" th:object="${matiere}">

                                    <input type="hidden" th:field="*{matiereId}" />
                                    <div>
                                        <label>Nom de matiere:</label>
                                        <input type="text" th:field="*{nom}" required />
                                    </div>
                                    <div>
                                        <label>Description :</label>
                                        <textarea th:field="*{description}" required></textarea>
                                    </div>
                                    <div>
                                        <label>Professeur :</label>
                                        <select th:field="*{professeur.prof_id}" required>
                                            <option th:each="professeur : ${professeurs}"
                                                    th:value="${professeur.prof_id}"
                                                    th:text="${professeur.name + ' ' + professeur.prenom}"></option>
                                        </select>
                                    </div>
                                    <input type="hidden" name="professeurId" th:value="${matiere.professeur.prof_id}" />

                                    <div class="d-flex justify-content-center">
                                        <a type="submit" class="btn btn-primary"> Modifier </a>
                                    </div>
                                </form>

                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer text-faded text-center py-5">
    <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{/assets/js/scripts.js}" ></script>
</body>
</html>
